<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">

    <h3 style="font-weight: 400;">Edit Listing</h3>
    <!-- Adding method override to send PUT request -->
    <div class="form-border">
    <form method="POST" novalidate class="needs-validation" action="/listings/<%= listing._id %>?_method=PUT" onsubmit="return validateEditForm()" enctype="multipart/form-data">
      
      <!-- Title Field -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input 
          id="title"
          name="listing[title]" 
          placeholder="Add a Catchy Title" 
          type="text" 
          class="form-control" 
          value="<%= listing.title %>"
          pattern="^[A-Za-z '\s]+$"
          required />
          <div class="valid-feedback">Title looks Good</div>   
          <div class="invalid-feedback">Please enter title  </div>

        </div>

      <!-- Description Field -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]" 
          class="form-control"
          required><%= listing.description %></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
        
      </div>

      <!-- Image URL Field -->

      <div class="mb-3" style="width: 200px; height: 150px; overflow: hidden;">
        <label for="original_listing" class="form-label">Original Listing image</label><br>
        <img src="<%= originalImageUrl %>" style="width: 100%; height: 100%; object-fit: cover;">
    </div>

    <!-- <div class="mb-3">
      Original Listing Image
      <img src="<%= originalImageUrl %>" />
     </div> -->
    
      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          id="image"
          name="listing[image]"
          placeholder="Enter image URL/Link"
          type="file"
          class="form-control"
           />
      </div>
      
      <div class="row">
        <!-- Price Field -->
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            name="listing[price]"
            placeholder="1200"
            type="number"
            class="form-control"
            value="<%= listing.price %>"
            required />
          <div class="invalid-feedback">Price should be a valid number</div>
        </div>

        <!-- Country Field -->
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            id="country"
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            value="<%= listing.country %>"
            required
            pattern="^[A-Za-z '\s]+$"
            />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <!-- Location Field -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          id="location"
          name="listing[location]"
          placeholder="Jaipur, Rajasthan"
          type="text"
          class="form-control"
          value="<%= listing.location %>"
          required 
          pattern="^[A-Za-z '\s]+$"/>
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <!-- Submit Button -->
      <button class="btn btn-dark edit-btn mt-3 button-container ">Edit</button>
      <br></br>
    </form>
  </div>
  </div>
</div>

<script src="/js/script.js"></script>